@model ProfileDetialsViewModel

@{
    ViewData["Title"] = "StudentProfile";
    var folder = "userimages";
    if(Model.ImageUrl == null)
    {
        Model.ImageUrl= "_DefaultProfile.jpeg";
        folder = "images";
    }
    var profileImage = $"~/{folder}/{Model.ImageUrl}";
    
}
 <link href="~/css/profiledetails.css" rel="stylesheet" />
<section style="background-color: #eee;">
    <div class="container py-5">
	
        <div class="row mt-5">
			<div class="col-lg-4">
				<!--Main Info & Image-->
				<div class="card mb-6">
					<div class="card-body text-center">
                        <img  src="@Url.Content(profileImage)" alt="avatar"
							 class="rounded-circle img-fluid" style="width: 150px;">
						<h5 class="my-3">@Model.FirstName @Model.LastName</h5>
						<p class="text-muted mb-1">Full Stack Developer</p>
						<p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a asp-controller="Student" asp-action="UpdateProfile" asp-route-UserName="@Model.UserName">
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </a>

                        </div>

					</div>
				</div>
				
			</div>
            <div class="col-lg-8">
                <div class="card mb-4">
                   <!--Main Info [Name , Email]-->
                    <div class="card-body">
                       <!--Name-->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <!--Email-->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <!--Phone-->
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            
                <!--Course Prograss-->
                <div class="row">
                    <partial name="_CoursePrograss.cshtml" model="@Model.Id"/>
                </div>
            </div>
        </div>
    </div>
</section>