@model Course
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title - Course Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">@Model.Title</h1>
                    <h5 class="card-subtitle mb-2 text-muted">Instructor: @Model.Instructor.FirstName </h5>
                    <h2>Description</h2>
                    <p class="card-text">@Model.Description</p>

                    <h2>Course Video</h2>
                    <iframe width="560" height="315" 
                        src="https://www.youtube.com/embed/AhAxLiGC7Pc?si=e4icVECuJ7AjAOBB"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
            </div>

        <div class="mt-4">
            <h2>Additional Information</h2>
            <ul class="list-group">
                <li class="list-group-item">Duration: @Model.Duration</li>
            </ul>
        </div>
    </div>

   </body>
</html>