@model IEnumerable<Course>

<link rel="stylesheet" type="text/css" href="~/styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/courses_responsive.css">

<div class="super_container">
  <!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Courses</h1>
		</div>
	</div>

	<!-- Popular -->

	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Popular Courses</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes">
				@foreach (var course in Model)
				{
					<!-- Popular Course Item -->
					<div class="col-lg-4 course_box">
						<div class="card">
							<img class="card-img-top" src="@course.ImageUrl" alt="https://unsplash.com/kellybrito">
							<div class="card-body text-center">
								<div class="card-title"><a href="courses.html">@course.Title</a></div>
								<div class="card-text">@course.Description</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								@* <div class="course_author_image">
							<img src="@course.Instructor.ImageUrl" alt="instructor image">
							</div> *@
								<div class="course_author_name">@course.Instructor.FirstName @course.Instructor.LastName, <span>Instructor</span></div>
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<script src="~/js/courses_custom.js"></script>
