@model Course

@{
    ViewData["Title"] = "Course Enrollment";
}

<partial name="_HomePartialView" />

<html>
    <head>

    </head>
    <body>
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;border-radius:8px;" class="rounded-4 fit" src="~/images/course_1.jpg" />
                        </a>
                    </div>



                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark" style="font-size:40px;">
                            @Model.Title

                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>

                        </div>



                        <p style="font-size:25px;color:#30265C;line-height:30px;">
                            @Model.Description
                        </p>

                        <div class="row" style="color: #009999; font-size: 20px;">
                            <dt class="col-3">Category:</dt>
                            <dd class="col-9">@Model.Category.Name</dd>

                            <dt class="col-3">Instructor: </dt>
                            <dd class="col-9">@Model.Instructor.FirstName @Model.Instructor.LastName</dd>

                            <dt class="col-3">Lessons:</dt>
                            <dd class="col-9">@Model.Lessons.Count() Lessons</dd>

                            <dt class="col-3">Duration:</dt>
                            <dd class="col-9">@Model.Duration</dd>



                            <dt class="col-5">Number of Lectures:</dt>
                            <dd class="col-13">@Model.TotalLecture</dd>
                           
                        </div>

                        <hr />



                        <a style="font-weight: bold;font-size: 20px;" asp-controller="Enrollment" asp-action="Save" asp-route-courseid="@Model.Id" class="btn btn-warning shadow-0"> Enroll now </a>

                    </div>
                </main>
            </div>
        </div>
    </section>
    </body>
</html>





